.no-btn:focus {
    outline: none;
}
.scroll-hidden::-webkit-scrollbar {
    display: none;
}
.scroll-hidden {
    -ms-overflow-style: none;
}
.shadow {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.t-shadow {
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}
.svg-shadow {
    -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));
    /* Similar syntax to box-shadow */
}

.pt5--1 {
    padding-top: 5.5rem;
}

.ob-contain {
    object-fit: contain;
}

.ob-cover {
    object-fit: cover;
}

.center-items {
    justify-content: center;
    align-items: center;
}

.w-max-content {
    width: max-content;
}
.w-min-content {
    width: min-content;
}
