/**
* App colors
*/
// define colors for reuse
$color-dark-blue: #001126;
$color-blue: #34bbff;

$color-dark-cyan: #00212d;
$color-cyan: #15aa93;
$color-light-cyan: #64f6ff;
$color-cyan-opacity: rgba(0, 63, 56, 0.7);

$color-dark-green: #003d38;

$color-white: #fff;
$color-white-opacity: rgba(255, 255, 255, 0.33);

$color-black: #000;
$color-black-opacity: rgba(0, 0, 0, 0.5);

$color-gray: #6f6f6f;
$color-light-gray: #b6b6b6;
$color-gray-opacity: rgba(128, 128, 128, 0);

$color-pink: #d55393;

$color-dark-purple: #564d7b;
$color-purple: #643daa;
$color-light-purple: #a09cca;

$color-prime: #4938f7;
$color-prime-darker: #3a2cc5;
$color-orange: #eca15b;
$color-green: #0ba0b5;
$color-dark-grey: #222222;
$color-dark-grey-3: #323232;
$color-dark-grey-5: #424242;
$color-dark-grey-7: #727272;
$color-dark-grey-9: #929292;
$color-dark-grey-11: #b2b2b2;
$color-dark-grey-13: #d2d2d2;
$color-dark-grey-ff: #f2f2f2;

$bg-gradient-1: linear-gradient(148.24deg, #ae79f1 -3.19%, #2300fc 112.17%);
$bg-gradient-nav: linear-gradient(to bottom, #665aec, #3f0cd1);
